* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #d0d0d0;
  --main-accent-color: #8d40bb;
  --main-accent-light: #c297db;
  --border-radius: 8px;
}

.layout {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}
